@charset "UTF-8";

main {
  margin: 0 auto;
  width: 600px;
  padding: 40px 0 40px 0;
}

body{
  background-color:antiquewhite;
  color:#323031;
  letter-spacing: 0.08em;
  font-family:'Noto Sans JP', sans-serif;
}

section{
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow:0px 0px 12px #dfdfdfef;
}

/* 後ろに色をつけたければ、sectionタグにclassをつける */
/* 各sectionごとに背景がつけられるのね！（角丸で確認） */

.flex {
  display: flex;
}

a{
  color: #1abc9c;
}

a:hover {
  color: #e74c3c;
}

.ranking li:nth-child(1) {
  background-color:rgba(255,215,0,0.3) ;
  /* ↑opacityは全体の透過度に影響を与えるので、色だけの透過度はrgb表記をする */
}
.ranking li:nth-child(2) {
  background-color: rgba(189, 195, 199, 0.3);
}
.ranking li:nth-child(3) {
  background-color: rgba(230, 126, 34, 0.3);
}
/* ↑li タグの何番目の後ろに色をつける */

.ranking li{
  counter-increment: rank;
  padding: 20px 20px;
  border-radius: 50px;
  margin-bottom: 20px;
}

.ranking li::before{
  content: counter(rank)"位";
  margin-right: 1em;
}
/* counter(rank)←変数 */

.heading{
    background-color: #fff;
    border: #2ecc71 solid 4px;
     /* 色　実線の太さ */
    margin-bottom:60px;
    padding: 20px 40px;
    position: relative;
    text-align: center;
    border-radius: 10px;
}
 /* 余白はpadding */

.heading::before{
  border-color: #2ecc71 transparent transparent transparent;
  border-style: solid;
  border-width: 40px 20px 0 20px;
  bottom: -40px;
  content: "";
  height: 0;
  width: 0;
  margin-left: -20px;
  position: absolute;
  left: 50%;
}

.heading::after{
  border-color: #fff transparent transparent transparent;
  border-style: solid;
  border-width: 40px 20px 0 20px;
  bottom: -30px;
  content: "";
  height: 0;
  width: 0;
  margin-left: -20px;
  position: absolute;
  left: 50%;
}
/* ↑三角形はこれでつくれる！ */
/* 上　右　下　左 */

.tab p{
  display: none;
}
/* ↑pの中身を表示しないようにしたい */

.tab input:checked ~ p {
 display: block;
}
/* pタグがchecked状態にあったらブロックに戻す */
/* ulにtab classを反映 */


section + section{
  margin-top: 40px;
}
/* sectionどうしに間を空ける */

.profile_image {
  border-radius: 50%;
  height: 200px;
  overflow:hidden;
  /* ↑親要素からはみ出した部分どうする？hiddenは隠す、切り取る */
  width: 200px;
}

.profile_image img{
  height: auto;
  width:100%
}

.profile_text{
  margin-left: 30px;
  font-size:12px;
}

.profile_desc{
  margin-top: 20px;
}
/* テキストの左横にマージン入れたいわ */
/* class名は重複しなければ大丈夫だわ */

.profile_myname{

  font-size:4rem;
  margin-bottom: 20px;
  letter-spacing: 0.07em;
}

.under{
  font-size:14px;
  line-height: 1.6;
  margin-bottom: 5px;
}