@charset "UTF-8";

main {
  margin: 0 auto;
  width: 600px;
  padding: 40px 0 40px 0;
}

body{
  background-color:rgb(243,228,220);
  color:#323031;
  font-family:'Noto Sans JP', sans-serif;
}

section{
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow:0px 0px 12px #dfdfdfef;
}

/* 後ろに色をつけたければ、sectionタグにclassをつける */
/* 各sectionごとに背景がつけられるのね！（角丸で確認） */

.flex {
  display: flex;
}

a{
  color: rgb(60,142,130);
  font-weight: bold;
}

a:hover {
  color: rgb(238,181,184);
}

.ranking li:nth-child(1) {
  background-color:rgba(237,227,87,0.8) ;
  /* ↑opacityは全体の透過度に影響を与えるので、色だけの透過度はrgb表記をする */
}
.ranking li:nth-child(2) {
  background-color: rgba(237,227,87,0.4);
}
.ranking li:nth-child(3) {
  background-color: rgba(237,227,87,0.2);
}
/* ↑li タグの何番目の後ろに色をつける */

.ranking li{
  counter-increment: rank;
  padding: 15px 40px;
  border-radius: 50px;
  margin-bottom: 20px;
}

.ranking li::before{
  content: counter(rank)"位";
  margin-right: 1em;
}
/* counter(rank)←変数 */

.heading{
    background-color: #fff;
    border: rgb(238,181,184) solid 4px;
     /* 色　実線の太さ */
    margin-bottom:60px;
    padding: 20px 40px;
    letter-spacing: 0.09em;
    position: relative;
    text-align: center;
    border-radius: 20px;
}
 /* 余白はpadding */

.heading::before{
  border-color: rgb(238,181,184) transparent transparent transparent;
  border-style: solid;
  border-width: 15px 10px 0 10px;
  bottom: -17px;
  content: "";
  height: 0;
  width: 0;
  margin-left: -10px;
  position: absolute;
  left: 50%;
}

.heading::after{
  border-color: #fff transparent transparent transparent;
  border-style: solid;
  border-width: 15px 10px 0 10px;
  bottom: -10px;
  content: "";
  height: 0;
  width: 0;
  margin-left: -10px;
  position: absolute;
  left: 50%;
}
/* ↑三角形はこれでつくれる！ */
/* 上　右　下　左 */

.tab p{
  display: none;
}
/* ↑pの中身を表示しないようにしたい */

.tab input:checked ~ p {
 display: block;
}
/* pタグがchecked状態にあったらブロックに戻す */
/* ulにtab classを反映 */


section + section{
  margin-top: 40px;
}
/* sectionどうしに間を空ける */

.profile_subtitle{
  background-color: rgb(238,181,184);
  color: #fff;
  font-size:12px;
  font-weight: bold;
  display: inline-block;
  padding: 4px 14px;
  border-radius: 14px;
}
/* display: inline-block の必要性をあまり理解できていない */

.profile_image {
  border-radius: 50%;
  height: 200px;
  overflow:hidden;
  /* ↑親要素からはみ出した部分どうする？hiddenは隠す、切り取る */
  width: 200px;
}

.profile_image img{
  height: auto;
  width:100%
}

.profile_text{
  margin-left: 30px;
  font-size:12px;
  letter-spacing: 0.07em;
}

.profile_desc{
  margin-top: 30px;
  font-size:14px;
}
/* テキストの左横にマージン入れたいわ */
/* class名は重複しなければ大丈夫だわ */

.profile_myname{

  font-size:4rem;
  margin-bottom: 20px;
  letter-spacing: 0.07em;
}

.profile_box{
  padding-left: 20px;
  position: relative;
}

.profile_box::before{
background-color:rgb(238,181,184);
border-radius: 2px;
content: "";
display: block;
height: 100%;
left:0;
position: absolute;
top: 0;
width: 4px;
}

.profile_box + .profile_box {
  margin-top: 20px;
}

.under{
  font-size:16px;
  font-weight: bold;
  line-height: 1.6;
  margin-bottom: 5px;
}

#accordion {
  display: none;
}

.accordion_toggle{
  border:rgb(238,181,184) solid 4px;
  background-color:rgb(145, 145, 145);
  border-radius:30px;
  display:block;
  height:60px;
  width:120px;
  margin:0 auto;
  position:relative;
  padding-bottom:10px 0px;
}

.accordion_toggle span{
  margin-top: -12px;
  position:absolute;
  top:50%;
}

.accordion_toggle span:nth-child(1){
  margin-right:20px;
  right:100%;
}
.accordion_toggle span:nth-child(2){
  margin-left:20px;
  left:100%;
}

.accordion_toggle::before{
  background-color:#fff;
  display:block;
  content:"";
  border-radius:50%;
  height:40px;
  left:6px;
  position:absolute;
  top:6px;
  transition:0.2s;
  width:40px;
}

#accordion:checked + .accordion_toggle{
  background-color: rgb(228, 228, 228) ;
}

#accordion:checked + .accordion_toggle::before{
  left:66px;
}

.accordion_text{
  height:0;
  overflow:hidden;
  text-align: center;
}
#accordion:checked~.accordion_text{
  height:100%;
  transition:0.2s;
}

.accordion_image img {
  margin: 30px;
}

.animation {
  animation: change_color 2s linear infinite;
}

@keyframes change_color {
  0% {color:red;}
  20%{color:#e57e22;}
  40%{color:#f1c40f;}
  60%{color:#1abc9c;}
  80%{color:#2276e5;}
  100%{color:#e74c3c;}
}